body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar{
    background-color: #0a2540;
    height: 100px;
    color: white;
    
}

#navbar > div{
    display: flex;
    
    margin: auto;
    border: 1px solid green;
    width: 60%;
    height: 100px;

}
#navbar a{
    text-decoration: none;
    color: #7387db;
}

#img{
    width: 20%;
    border: 1px solid red;
    display: grid;
    justify-content: flex-end;
    align-items: center;
    
    
}

#img img{
    width: 40%;
    border-radius: 50%;
    margin-left: 50%;
    border: 1px solid yellow ;
    
}

#condition{
    width: 60%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
}
hr{
    width: 60%;
    margin: auto;
}


#mid{
    width: 60%;
    margin: auto;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
}
#time{
    width:60%;
    margin: auto;
    margin-bottom: 40px;
    
}

#time select{
font-size: 20px;
padding: 10px;
font-weight: bold;
}


#toggle{
    width:60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#toggle button{
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    border: 0.3px solid rgb(78, 75, 75);
}
#toggle button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}