 /* body{
    background-image: url("https://t3.ftcdn.net/jpg/00/93/85/82/360_F_93858275_ZsEcMDVfE6TfuREBZtal4B0sLyw6tv5I.webp");
   background-size: 100%;
 } */
 .signup{
    text-align: center;
    width: 30%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    margin-bottom: 40px;
   border-radius: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: white;
}

.login1{
   padding-top: 30px;
    /* border: 1px solid red; */
    width: 30%;
    margin: auto;
   text-align: center;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    border-radius: 30px;
    padding-bottom: 30px;
    background-color: white;
}
form input{
    margin-top: 15px;
    padding: 10px;
  
  border-radius: 10px;
}
#submit{
    width: 195px;
    color:white;
    background-color: blue;
}
#submit:hover{
    cursor: pointer;
}
#para{
    font-size: 20px;
}
#para a{
    text-decoration: none;
}
a{
    text-decoration: none;
}
.google {
    width: 50%;
    height: 30px;
    align-items: center;
  margin: auto;
    /* border: 1px solid red; */
    display: flex;
    border-radius: 10px;
    background-color: blue;
    color:white
}
 #g{
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
}
#first{
    margin-left: 15px;
    color: red;
    font-size: 20px;
    text-decoration: none;
}
.facebook{
    width: 50%;
    height: 30px;
    align-items: center;
  margin: auto;
    /* border: 1px solid red; */
    display: flex;
    border-radius: 10px;
    background-color: blue;
    color:white;
    margin-top: 5px;
}
#second{
    margin-left: 15px;
    color: white;
    font-size: 20px;
}
#f{
    margin-left: 20px;
    font-size: 20px;
}
.github{
    width: 50%;
    height: 30px;
    align-items: center;
  margin: auto;
    /* border: 1px solid red; */
    display: flex;
    border-radius: 10px;
    background-color: blue;
    color:white;
    margin-top: 5px;
}
#third{
    margin-left: 15px;
    color: white;
    font-size: 20px;
}
#git{
    margin-left: 20px;
    font-size: 20px;
}

@media screen and (min-width: 100px) and (max-width:1000px){
    .signup{
        width: auto;
    }
    .login1{
        height: auto;
        width: auto;
    }
    from input{
        width: auto;
        height: auto;
    }
    .google{
        width: auto;
    }
    .facebook{
        width: auto;
    }
    .github{
        width: auto;
    }
}